*{
    font-family: sans-serif;

}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: whitesmoke;
}

.title{
    margin-bottom: 160px;
}

.score, 
.play-round,
.round-picks{
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-bottom: 32px;
}

.round-picks{
    justify-content: space-evenly;
    gap: 64px;
}

.play-round{
    justify-content: space-around;
    margin-bottom: 48px;
}

.round-result{
    margin-top: 48px;
}

.player-buttons,
.computer-buttons{
    border: 2px solid black;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}

button{
    width: 100px;
    aspect-ratio: 1;
    border: 2px solid slategray;
    border-radius: 16px;
}

.restart-button{
    width: 200px;
    aspect-ratio: 2/1;
    margin: 50px;
    border-color: gold;
}

.computer-buttons > * {
    pointer-events: none;
}